{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
  <style>
    body {
    height: 100vh;
    background-image: linear-gradient(
    to bottom,
    #9ed5bb 0%,
    #eaf5e9 48%,
    rgba(234, 245, 233, 0) 100%
  );
    }
  </style>
{% endblock %}

{% block main %}

{% if error_message %}
<p> {{error_message}}</p>
{% endif %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %} 
  <div class="signup-input-fields">
    {{ form.username }}
    {{ form.password1 }}
    {{ form.password2 }}
    <!-- {{  form }} -->
  </div>

    <div class="button"> 
      <input type="submit" value="Sign Up">
    </div>
</form>
{% endblock %}