@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color palette */
  --light-green: #e9f0e8;
  --medium-green: #67a16e;
  --medium-dark-green: #507654;
  --dark-green: #053f0c;
}

body {
  font-family: "Open Sans";
}

/* Top Navigation Bar */

nav {
  width: 375px;
  height: 50px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--light-green);
}

.nav-elements {
  width: 335px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark-green);
}

nav .main-title {
  /* fix flexbox thing */
  position: absolute;
  left: 48%;
  transform: translate(-50%, 0);
  font-size: 20px;
  color: var(--medium-dark-green);
}

nav .logo {
  height: 20px;
  width: 20px;
  /* fix flexbox - do not like absolute */
  position: absolute;
  left: 67%;
  background-image: url("/../../static/img/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 50px;
  flex-direction: column;
  background-color: var(--light-green);
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 10px 0 0 20px;
  display: flex;
  flex-direction: row;
}

.nav-item-icon {
  height: 20px;
  width: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  align-self: center;
  justify-self: flex-start;
  margin-right: 8px;
}

/* .icon {
  width: 20px;
  height: 20px;
  background-image: url("/../../static/img/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

.secondary-title {
  margin: 10px 0 0 20px;
  font-size: 20px;
  color: var(--medium-dark-green);
}

/* Card Button */

.button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 20px 20px 20px;
  border-radius: 30px;
  background-color: var(--medium-green);
  font-size: 15px;
  letter-spacing: 0.45px;
  color: #fff;
}

/* Login Page */

.login-title {
  margin: 150px 0 0 20px;
  font-size: 20px;
}

.no-account {
  margin: 10px 0 10px 0;
  font-size: 12px;
  letter-spacing: 0.45px;
}

.login-input-wrapper {
  margin: 60px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

/* Sign Up Page */

.signup-input-wrapper {
  margin: 140px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.signup-instructions {
  margin: 30px 20px 0 20px;
  font-size: 14px;
}

/* Home Page */

.sub-title {
  margin-left: 20px;
  font-size: 20px;
}

.home-card {
  height: 560px;
  margin: 10px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 #00000040;
  background-color: #fff;
}

.home-card > .image {
  height: 310px;
  margin: 0 0 20px;
  padding: 240px 20px 20px 20px;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(
      to bottom,
      #fff0 0%,
      #fff0 50%,
      #0000007d 85%,
      #000 100%
    ),
    url("/../../static/img/IMG_0493.jpeg");
  background-size: cover;
  background-position: center;
}

.home-card > .image > span {
  font-size: 16px;
  color: #fff;
}

.home-card > .add-photo {
  height: 150px;
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 1px black;
}

/* .home-card > .add-photo .inputs {
  height: 100px;
  width: 100px;
  background-image: url('https://image.shutterstock.com/image-vector/photo-icon-vector-isolated-on-260nw-456059428.jpg');
  background-position: center;
  background-size: cover;
} */

/* .home-card > .add-photo p {
  font-size: 12px;
  text-decoration: underline;
} */

/* My Plants Template */

.match-card {
  height: 470px;
  margin: 10px 20px 20px 20px;
  padding: 0 0 30px;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 #00000040;
  background-color: #fff;
}

.match-card > .image {
  padding: 255px 20px 20px 20px;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: center;
  /* background-image: linear-gradient(
      to bottom,
      #fff0 0%,
      #fff0 50%,
      #0000007d 85%,
      #000 100%
    ),
    url("/../../static/img/IMG_0493.jpeg"); */
}

.match-card > .image > span {
  font-size: 24px;
  color: #fff;
}

.plant-details {
  height: 150px;
  margin: 20px 20px 20px 20px;
}

.matching-plants {
  font-size: 15px;
  background-color: var(--light-green);
  height: 160px;
  margin: 0px 20px 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 #00000040;
}

.match-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-photos {
  background-color: var(--medium-dark-green);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.heart-icon {
  height: 20px;
  width: 20px;
  background-image: url('/../../static/img/heart-icon.svg');
  background-position: center;
  background-size: cover;
  margin-top: 5px;
}



/* My Plants Page */

.myplants-main-card {
  height: 160px;
  margin: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: var(--light-green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.myplants-matched-card {
  height: 160px;
  margin: 10px 20px 40px 20px;
  border-radius: 5px;
  background-color: var(--light-green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.top-sub-card {
  height: 140px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-sub-card-photo {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  /* background-image: url("/../../static/img/IMG_0493.jpeg"); */
  background-position: center;
  background-size: cover;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-wrapper > h4 {
  font-size: 15px;
  font-weight: bold;
}

.info-wrapper > p {
  font-size: 12px;
  font-weight: bold;
}

.logo-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.logo-water {
  width: 15px;
  height: 15px;
  background-image: url("/../../static/img/water-drop-svgrepo-com.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-sun {
  width: 25px;
  height: 25px;
  background-image: url("/../../static/img/icons8-sun.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.delete {
  justify-content: flex-end;
}

.delete-logo {
  height: 12px;
  width: 12px;
  background-image: url('/../../static/img/delete_x.svg');
  background-position: center;
  background-size: cover;
}

.plant-name {
  margin: 10px 20px 10px 10px;
  font-weight: bold;
}


/* Slider */

.slider {
  height: 160px;
  margin: 10px 20px 10px 20px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; */
}

.slides > .myplants-main-card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 335px;
  height: 160px;
  margin: 0 0 20px 20px;
  border-radius: 5px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}





/* .options-title {
   font-size: 10px;
} */



