{% extends 'base.html' %}
{% load static %}


<h1> API PAGE</h1>


<form action="{% url 'add_photo' user.id %}" method="POST">
{% csrf_token %}
<input type="url" name="image">

<input type="submit" value="upload-image">

<h1> BestMatch: </h1> <h1>{{result.bestMatch}} </h1>
{% for item in result.results %}
<h3> Score: </h3>   <h4> {{item.score}}</h4>
<h3> Scientific Name: </h3>   <h4> {{item.species.scientificNameWithoutAuthor}}</h4>
<h3> CommonNames: </h3>   <h4>{{item.species.commonNames}}}</h4>
</br>
{% endfor %}

{% endblock %}




