{% extends 'base.html' %}
{% load static %}

{% block main %}

<h2 class="sub-title">
    Plant Details
</h2>

<div class="match-card">
    <div class="image">
        <span> {{ result.bestMatch }} </span>
    </div>
    <div class="plant-details">
        <h3>Care & Conditions</h3>
        <p>Common Name: {{ result.results.0.species.commonNames.1 }}</p>
        <p>Score: {{ result.results.0.score }}</p>
    </div>
    <div class="button">
        <a href="#">
            <span> Start Matching </span>
        </a>
    </div>
</div>

{% endblock %}





