{% extends 'base.html' %}
{% load static %}

{% block main %}

<p class="sub-title">
    Welcome to Grow Together
</p>
  
<div class="home-card">
    <div class="image"> 
        <span>
            Looking for a plant to match yours? </br> 
            Take a photo and find a match!
        </span>
    </div>
    <div class="add-photo">
        {% if user.is_authenticated %}
        <form action="{% url 'add_photo' user.id %}" method="POST">
            {% csrf_token %}
            <div class="inputs">
            <input class="form-field" type="url" name="image">
            <!-- <input class="upload-link" type="submit" value="Upload Image"> -->
            </div>
        </div>
        <div class="button"> 
            <input class="upload-link" type="submit" value="Upload Image">
        </form>  
        {% endif %} 
    </div>
</div>

{% endblock %}


