{% extends 'base.html' %} {% load static %} {% block main %}

<div class="Match-Card">
  <div class="Match-Card-Image">
    <span> Purple Heart </span>
  </div>
  <div class="Match-Card-Add-Photo"></div>
  <div class="Match-Card-Button">
    <span> Start Matching </span>
  </div>
</div>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  hamburger.addEventListener("click", mobileMenu);

  function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
  }

  const navLink = document.querySelectorAll(".nav-link");

  navLink.forEach(n => n.addEventListener("click", closeMenu));

  function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
}

</script>


{% endblock %}
