{% extends 'base.html' %} {% load static %} {% block main %}
<nav>
  <div class="Group-252">
    <span class="Grow-Together"> Grow Together </span>
  </div>
</nav>

<div class="Match-Card">
  <div class="Match-Card-Image">
    <span> Purple Heart </span>
  </div>
  <div class="Match-Card-Add-Photo"></div>
  <div class="Match-Card-Button">
    <span> Start Matching </span>
  </div>
</div>

<div class="Matched-Plants">
  <p class="Title">Matched Plants</p>
  <div class="Photos"></div>
</div>

{% endblock %}
