{% extends 'base.html' %}
{% load static %}

{% block main %}



<p class="sub-title">My Plants</p>

{% for match in user.userplant_set.all %}
  <div class="myplants-main-card">
    <div class="top-sub-card">
      <div class="top-sub-card-photo" style="background-image: url('{{match.url}}')"></div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-water"></div>
        </div>
        <h4>Water</h4>
        <p>{{ match.user_plant.water_use }}</p>
      </div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-sun"></div>
        </div>
        <h4>Sunlight</h4>
        <p>{{ match.user_plant.light }}</p>
      </div>

      <div class="delete">
        <form action="{% url 'deletematch' user.id %}" method="POST">
            {% csrf_token %}
            <button class="delete-logo" type="submit"></button>
        </form>
      </div>
      

    </div>
    <hr>
    <p class="plant-name">{{ match.user_plant.scientific_name }}</p>
  </div>

  <div class="myplants-main-card">
    <div class="top-sub-card">
      <div class="top-sub-card-photo" style="background-image: url('{{match.matched_plant.image}}')"></div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-water"></div>
        </div>
        <h4>Water</h4>
        <p>{{ match.matched_plant.water_use }}</p>
      </div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-sun"></div>
        </div>
        <h4>Sunlight</h4>
        <p>{{ match.matched_plant.light }}</p>
      </div>

      <div class="delete">
            <button class="delete-logo" type="submit"></button>
      </div>
      

    </div>
    <hr>
    <p class="plant-name">{{ match.matched_plant.scientific_name }}</p>
  </div>
  
  {% endfor %}

  <!-- <div class="slider">
    <div class="slides">
      <div class="myplants-main-card">
        <div class="top-sub-card">
          <div class="top-sub-card-photo" style="background-color: lightsalmon;"></div>
    
          <div class="info-wrapper">
            <div class="logo-wrapper">
              <div class="logo-water"></div>
            </div>
            <h4>Water</h4>
            <p>info</p>
          </div>
    
          <div class="info-wrapper">
            <div class="logo-wrapper">
              <div class="logo-sun"></div>
            </div>
            <h4>Sunlight</h4>
            <p>info</p>
          </div>
    
          <div class="delete">
           <a href="#">
             <div class="delete-logo">
              <input type="submit" value="">
            </div>
           </a>
    
          </div>
        </div>
        <hr>
        <p class="plant-name">Monstera Deliciosa</p>
      </div>
      <div class="myplants-main-card">
        <div class="top-sub-card">
          <div class="top-sub-card-photo" style="background-color: lightsalmon;"></div>
    
          <div class="info-wrapper">
            <div class="logo-wrapper">
              <div class="logo-water"></div>
            </div>
            <h4>Water</h4>
            <p>info</p>
          </div>
    
          <div class="info-wrapper">
            <div class="logo-wrapper">
              <div class="logo-sun"></div>
            </div>
            <h4>Sunlight</h4>
            <p>info</p>
          </div>
    
          <div class="delete">
           <a href="#">
             <div class="delete-logo">
              <input type="submit" value="">
            </div>
           </a>
    
          </div>
        </div>
        <hr>
        <p class="plant-name">Monstera Deliciosa</p>
      </div>
    </div>
  </div> -->



{% endblock %}
