{% extends 'base.html' %} {% load static %} {% block main %}

<p class="sub-title">My Plants</p>


  <div class="myplants-main-card">
    <div class="top-sub-card">
      <div class="top-sub-card-photo" style="background-color: lightsalmon;"></div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-water"></div>
        </div>
        <h4>Water</h4>
        <p>info</p>
      </div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-sun"></div>
        </div>
        <h4>Sunlight</h4>
        <p>info</p>
      </div>

      <div class="delete">
       <a href="#">
         <div class="delete-logo">
          <input type="submit" value="">
        </div>
       </a>

      </div>
    </div>
    <hr>
    <p class="plant-name">Monstera Deliciosa</p>
  </div>

{% endblock %}
