{% extends 'base.html' %} {% load static %} {% block main %}

<p class="sub-title">My Plants</p>


  <div class="myplants-main-card">
    <div class="top-sub-card">
      <div class="top-sub-card-photo" style="background-color: lightsalmon;"></div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-water"></div>
        </div>
        <p>Water</p>
      </div>

      <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="logo-water"></div>
        </div>
        <p>Water</p>
      </div>

      <div class="delete">
       <a href="#">
         <div class="delete-logo">
          <input type="submit" value="">
        </div>
       </a>

      </div>

      <!-- <div class="info-wrapper">
        <div class="logo-wrapper">
          <div class="sub-card-logo-sun"></div>
        </div>
        <p>Light</p>
      </div> -->
    </div>
    <hr>
    <p class="plant-name">Monstera Deliciosa</p>
  </div>


  <!-- <div class="matches-wrapper">
    
    <div class="matches-sub-card">
      <div class="sub-card-photo"></div>

      <div class="super-wrapper">
        <div class="logo-wrapper">
          <div class="sub-card-logo-water"></div>
        </div>
        <p>Wata</p>
      </div>

      <div class="super-wrapper">
        <div class="logo-wrapper">
          <div class="sub-card-logo-sun"></div>
        </div>
        <p>Light</p>
      </div>
    </div>
    <hr>
    <p class="Text-subcard">Monstera Deliciosa</p>

    
  </div> -->

{% endblock %}
