

{% for photo in user.photo_set.all %}
<img src="{{photo.url}}">
<h1> BestMatch: </h1> <h1>{{result.bestMatch}} </h1>
{% empty %}
<div><h1>No Photos Uploaded</h1></div>
{% endfor %}

<form action="{% url 'upload' user.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>



{% for p in plant %}
Scientific Name:<h2>{{p.scientific_name}} </h2>
Common Name:<h2>{{p.common_name}}</h2>
Water Use: <h2>{{p.water_use}}</h2>
Light: <h2>{{p.light}}</h2>
Maintenance: <h2>{{p.maintenance}}</h2>
<h2>{% endfor %}</h2>