{% extends 'base.html' %}
{% load static %}

{% block main %}

{% for p in plant %}
<div class="match-card">
    <div class="image" style=" background-image: url('{{photo.url}}');">
        <span> {{ p.scientific_name }} </span>
    </div>
    <div class="plant-details">
        <h3>Care & Conditions</h3>
        <p>Common Name: {{ p.common_name }}</p>
        <p>Light: {{ p.light }}</p>
        <p>Light: {{ p.water_use }}</p>
        <p>Light: {{ p.maintenance }}</p>

    </div>
    <div class="button">
        <a href="#">
            <span> Start Matching </span>
        </a>
    </div>
</div>
{% endfor %}


{% endblock %}




<!-- {% for photo in user.photo_set.all %}
<img src="{{photo.url}}">
<h1> BestMatch: </h1> <h1>{{result.bestMatch}} </h1>
{% empty %}
<div><h1>No Photos Uploaded</h1></div>
{% endfor %} -->





<!-- original home button before changing it to Ishan's API work -->
<!-- <form action="{% url 'add_photo' user.id %}" method="POST">
            {% csrf_token %}
            <div class="inputs">
                <input class="form-field" type="url" name="image">
                <p>Add Image Link</p>
            </div>
    </div>
            <div class="button"> 
                <input type="submit" value="Upload Image">
            </div>
        </form>   -->

<!-- <form action="{% url 'upload' user.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form> -->