{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="match-card">
    
    <div class="image" style="background-image: url('{{ photo.url }}');" >
  

    {% for p in plant %}

        <span> {{ p.scientific_name }} </span>
    </div>
    <div class="plant-details">
        <h3>Care & Conditions</h3>
        <p>Common Name: {{ p.common_name }}</p>
        <p>Light: {{ p.light }}</p>
        <p>Water: {{ p.water_use }}</p>
        <p>Maintenance: {{ p.maintenance }}</p>

    </div>
    <div class="button">
        <a href="#">
            <span> Start Matching </span>
        </a>
    </div>
</div>

    {% endfor %}


{% endblock %}




<!-- {% for photo in user.photo_set.all %}
<img src="{{photo.url}}">
<h1> BestMatch: </h1> <h1>{{result.bestMatch}} </h1>
{% empty %}
<div><h1>No Photos Uploaded</h1></div>
{% endfor %} -->
